*{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigationizq{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
    align-items: center;
}

.navigationizq h5{
    color: white;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}

.nav{
    background-color: transparent;
    border: 0;
}

img{
    width: 30px;
}

.banner{
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.image{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.text{
    color: white;
}

.bannav{
    background-color: rgba(85, 84, 84, 0.651);
    border: 0;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 85px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.button h3{
    margin-left: 20px;
}

.button{
    display: flex;
    flex-direction: row;
}

.tittle{
    margin-left: 20px;
    margin-bottom: 30px;
}

.infoserie{
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 800px;
}